@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-900: #2f363d;
  --primary-500: #848484;
  --seconday-900: #dadbdf;
  --secondary-500: #efefef;
  --accent: #8BAE44;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}